#page-container {
  background: url('../images/cat-background.png');
  background-repeat: repeat;
  background-size: contain;
}

#fact-container {
  background: white;
  font-size: 1rem;
  padding-top: 2rem;
  border: 5px solid black;
  /* height:40vh; */
}

#picture-container {
  background: black;
  border: 5px solid black;
  /* height:60vh; */
}

#cat-image {
  /* height: 60vh; */
  width: 100%;
}